:root{
    --color-1:#2f3240;
}

body{
    font-family: serif;
    background: #e8eef3;
    direction: rtl;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.container{
max-width: 1170px;
margin: auto;
}

/*header*/

.header{
    background: var(--color-1);
    padding: 12px 0;
    line-height: 1.5;
}
.header .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.header .logo,
.header .nav{
    padding: 0 15px;
}
.header .logo a{
     font-size: 30px;
     color: #ffffff;
     text-transform: capitalize;
}

.header .nav ul li{
    display: inline-block;
    margin-left: 40px;
}

.header .nav ul li a{
    display: block;
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    padding: 10px 0;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}


.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: #daa520;
}

.header .nav-toggler{
    height: 34px;
    width: 44px;
    background: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: none;
    margin-right: 15px;
}

.header .nav-toggler:focus{
    outline:none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);

}

.header .nav-toggler span{
    height: 2px;
    width: 20px;
    background: var(--color-1);
    display: block;
    margin: auto;
    position: relative;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.header .nav-toggler.active span{
    background: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-1);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.header .nav-toggler span::before{
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
}

.header .nav-toggler.active span::before{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.header .nav-toggler span::after{
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
}

.header .nav-toggler.active span::after{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

@media (max-width:991px) {
    .header .nav-toggler{
        display: block;
        margin-left: 15px;
    }

    .header .nav{
        width: 100% ;
        padding:0;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
}
.header .nav.open{
    visibility: visible;
}

 .header .nav ul{
    padding: 12px 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 12px;
  
 }


    .header .nav ul li{
        display: block;
       margin: 0;
    }

    .header .row{
        flex-direction: row;
    }
}